.our-honey {
  padding-bottom: 180px;

  .gallery {
    .row {
      .ng-card {
        height: 420px;
      }
    }
  }

  .types-of-honey {
    .row {
      .ng-card {
        height: 212px;
      }
    }
  }
}


