$default-font: sans-serif;

@font-face {
  font-family: 'poppins-medium';
  src: url('../font/poppins-medium.ttf');
}

@font-face {
  font-family: 'poppins-regular';
  src: url('../font/poppins-regular.ttf');
}

@font-face {
  font-family: 'poppins-semibold';
  src: url('../font/poppins-semi-bold.ttf');
}

@font-face {
  font-family: 'playfair-display-bold';
  src: url("../font/playfair-display-bold.ttf");
}
